@model BookATableMVC.ViewModels.Reservations.ReservationListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   
    @Html.ActionLink("Create Reservation", "Edit", "Reservations")
      
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>


    
    <tr>
        <th>
            @Html.ActionLink("PeopleCount", "Index", new {})
        </th>
        <th>
            @Html.ActionLink("Comment", "Index", new {})
        </th>
        <th>
            @Html.ActionLink("ReservationTime", "Index", new {})
        </th>
        <th>
            @Html.ActionLink("Restaurant", "Index", new {})
        </th>
       
    </tr>
@foreach (var item in Model.Reservations) {
    
   
   
    <tr>
        <td>@item.PeopleCount</td>
        <td>@item.Comment</td>
        <td>@item.ReservationTime</td>
        <td>@item.RestaurantName</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
   
}

</table>
